<html>

<h1 id=greeting>Welcome to the Task Manager</h1>
<title>Task Manager Basic</title>

<ul>
  <li><a href="/tasks">Task Index</a></li>
  <li><a href="/tasks/new">New Task</a></li>
</ul>

<hr>

Task Manager pro only ៛1,234,578.00 Cambodian Riels.
</html>
