<form action="/tasks" method="post">
  <p><u>Enter a new task, like a <strong>boss</strong></u><br></p>

  <p><br>Title yo' task</p>
  <input type='text' name='task[title]'/><br/>

  <p>Describe yo' task</p>
  <textarea name='task[description]'></textarea><br/>
  <input type='submit' value="Submit Query"/> 
</form>

<!--HTML form for user input
No need for end input tag>
