<html>
<body>
    <h1>>WHY DID YOU PUSH THE PANIC BUTTON?!</h1>
    <img src="http://www.thedailysheeple.com/wp-content/uploads/2012/09/nuclear-bomb-explosion2.jpg"
    alt="YOU PUSHED THE PANIC BUTTON?!!"
    style="width:500px;height:500px">
</body>
</html>
